menu "Modem(HI6930) Drivers"

source "drivers/hisi/modem_hi3630/drv/icc/Kconfig"
source "drivers/hisi/modem_hi3630/drv/ipc/Kconfig"
source "drivers/hisi/modem_hi3630/drv/adp/Kconfig"
source "drivers/hisi/modem_hi3630/drv/sync/Kconfig"
source "drivers/hisi/modem_hi3630/drv/dsp/Kconfig"
source "drivers/hisi/modem_hi3630/drv/hkadc/Kconfig"
source "drivers/hisi/modem_hi3630/drv/hwadp/Kconfig"
source "drivers/hisi/modem_hi3630/drv/loadm/Kconfig"
source "drivers/hisi/modem_hi3630/drv/balong_fs/Kconfig"
source "drivers/hisi/modem_hi3630/drv/onoff/Kconfig"
source "drivers/hisi/modem_hi3630/drv/sec/Kconfig"
source "drivers/hisi/modem_hi3630/drv/rfile/Kconfig"
source "drivers/hisi/modem_hi3630/drv/rtc/Kconfig"
source "drivers/hisi/modem_hi3630/drv/cshell/Kconfig"
source "drivers/hisi/modem_hi3630/drv/mem/Kconfig"
source "drivers/hisi/modem_hi3630/drv/udi/Kconfig"
source "drivers/hisi/modem_hi3630/drv/gpio/Kconfig"
source "drivers/hisi/modem_hi3630/drv/keyboard/Kconfig"
source "drivers/hisi/modem_hi3630/drv/balong_timer/Kconfig"
source "drivers/hisi/modem_hi3630/drv/cipher/Kconfig"
source "drivers/hisi/modem_hi3630/drv/nvim/Kconfig"
source "drivers/hisi/modem_hi3630/drv/ios/Kconfig"
source "drivers/hisi/modem_hi3630/drv/efuse/Kconfig"
source "drivers/hisi/modem_hi3630/drv/balong_oam_ps/Kconfig"
source "drivers/hisi/modem_hi3630/drv/reset/Kconfig"
source "drivers/hisi/modem_hi3630/drv/reset_hifi/Kconfig"
source "drivers/hisi/modem_hi3630/drv/lowpower_mntn/Kconfig"
source "drivers/hisi/modem_hi3630/drv/temperature/Kconfig"
source "drivers/hisi/modem_hi3630/drv/misc/Kconfig"
endmenu
