menu "Modem(HI6930) Drivers"

source "drivers/modem/icc/Kconfig"
source "drivers/modem/ipc/Kconfig"
source "drivers/modem/adp/Kconfig"
source "drivers/modem/sync/Kconfig"
source "drivers/modem/dsp/Kconfig"
source "drivers/modem/hkadc/Kconfig"
source "drivers/modem/hwadp/Kconfig"
source "drivers/modem/loadm/Kconfig"
source "drivers/modem/balong_fs/Kconfig"
source "drivers/modem/onoff/Kconfig"
source "drivers/modem/sec/Kconfig"
source "drivers/modem/rfile/Kconfig"
source "drivers/modem/rtc/Kconfig"
source "drivers/modem/cshell/Kconfig"
source "drivers/modem/mem/Kconfig"
source "drivers/modem/udi/Kconfig"
source "drivers/modem/gpio/Kconfig"
source "drivers/modem/keyboard/Kconfig"
source "drivers/modem/balong_timer/Kconfig"
source "drivers/modem/cipher/Kconfig"
source "drivers/modem/nvim/Kconfig"
source "drivers/modem/ios/Kconfig"
source "drivers/modem/efuse/Kconfig"
source "drivers/modem/balong_oam_ps/Kconfig"
source "drivers/modem/reset/Kconfig"
source "drivers/modem/reset_hifi/Kconfig"
source "drivers/modem/lowpower_mntn/Kconfig"
source "drivers/modem/temperature/Kconfig"
endmenu
